################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MTest.Service/obj/Release/netcoreapp2.2
